/* CONFIG START */

*{
    margin: 0;
    box-sizing: 0;
    padding: 0;
}

:root{
    --light-red: hsl(356, 100%, 66%);
    --super-light-red: hsl(355, 100%, 74%);
    --super-dark-blue: hsl(208, 49%, 24%);
    --white: hsl(0, 0%, 100%);
    --grayish-blue: hsl(240, 2%, 79%);
    --super-grayish-blue: hsl(207, 13%, 34%);
    --super-black-blue: hsl(240, 10%, 16%);
    --background-super-light-red: hsl(13, 100%, 72%);
    --background-light-red: hsl(353, 100%, 62%);
    --background-super-gray-blue: hsl(237, 17%, 21%);
    --background-desaturated-blue: hsl(237, 23%, 32%);
}

/* CONFIG END */


/* HEADER START */

header{
    background: url("images/bg-pattern-intro.svg") 300px -400px, linear-gradient(90deg, var(--background-super-light-red), var(--background-light-red));
    max-height: 100%;
    height: 500px;
    overflow: hidden;
    border-radius: 0px 0px 0px 100px;
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    display: flex;
    align-items: center;
    max-width: 100%;
    justify-content: space-between;
    padding: 1.5rem 0;
    width: 100%;
}

.nav-items{
    margin-left: 2rem;
    display: flex;
    align-items: center;
}

.nav-items a{
    padding: 0 1.5rem;
}


.product{
    position: relative;
    display: inline-block;
}

.product-dropdown{
    display: none;
    position: absolute;
    background-color: var(--white);
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 0.3s ease;
    border-radius: 5px;
}

.product-dropdown a{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    justify-content: space-between;
    font-family: "Ubuntu";
    margin: 10px 10px;
    padding: 10px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--super-black-blue);
}

.product-dropdown a:hover{
    background-color: var(--grayish-blue);
    color: var(--super-black-blue);
    transition: 0.3s ease;
}

.product:hover .product-dropdown{
    display: block;
    transition: 0.3s ease;
}

.company{
    position: relative;
    display: inline-block;
}

.company-dropdown{
    display: none;
    position: absolute;
    background-color: var(--white);
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 0.3s ease;
    border-radius: 5px;
}

.company-dropdown a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Ubuntu";
    margin: 10px 10px;
    padding: 10px;
    font-weight: 500;
    font-size: 1rem;
    font-weight: 400;
    color: var(--super-black-blue);
}

.company-dropdown a:hover{
    background-color: var(--grayish-blue);
    color: var(--super-black-blue);
    transition: 0.3s ease;
}

.company:hover .company-dropdown{
    display: block;
    transition: 0.3s ease;
}

.connect{
    position: relative;
    display: inline-block;
}

.connect-dropdown{
    display: none;
    position: absolute;
    background-color: var(--white);
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 0.3s ease;
    border-radius: 5px;
}

.connect-dropdown a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Ubuntu";
    font-weight: 500;
    margin: 10px 10px;
    padding: 10px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--super-black-blue);
}

.connect-dropdown a:hover{
    background-color: var(--grayish-blue);
    color: var(--super-black-blue);
    transition: 0.3s ease;
}

.connect:hover .connect-dropdown{
    display: block;
    transition: 0.3s ease;
}


.login-signup-div button{
    margin: 0 1rem;
}

.login-signup-div{
    margin-right: 5rem;
}



#login-button{
    color: var(--white);
    background-color: transparent;
    border: 0;
    font-family: "Ubuntu";
    font-size: 16px;
    outline: none;
    font-weight: 700;
    cursor: pointer;
}

#sign-up-button{
    background: var(--white);
    color: var(--light-red);
    font-family: "Ubuntu";
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    border: 0;
    outline: none;
    border: 3px solid white;
    border-radius: 500px;
    width: 150px;
    transition: 0.25s ease;
    cursor: pointer;
}

#sign-up-button:hover{
    background-color: transparent;
    color: var(--white);
}

nav a{
    color: white;
    font-family: "Ubuntu";
    text-decoration: none;
    font-weight: 500;
    margin: 0 .5rem;
}

nav #logo{
    margin-left: 6rem;
    margin-right: 2.5rem;
}

#start-for-free-button{
    background: var(--white);
    color: var(--light-red);
    font-family: "Ubuntu";
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    border: 0;
    outline: none;
    border: 3px solid white;
    border-radius: 500px;
    width: 150px;
    transition: 0.25s ease;
    cursor: pointer;
}

#start-for-free-button:hover{
    transform: translateY(-5px);
}

#learn-more-button{
    background-color: transparent;
    color: var(--white);
    font-family: "Ubuntu";
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    border: 0;
    border-radius: 500px;
    width: 150px;
    outline: none;
    border: 3px solid white;
    cursor: pointer;
    transition: 0.25s ease;
}

#learn-more-button:hover{
    transform: translateY(-5px);
}

.header-text{
    color: var(--white);
    font-family: "Overpass";
    text-align: center;
}

.header-text h1{
    margin: 2.5rem 0;
    font-size: 3rem;
}

.header-text p{
    margin: 3rem 0;
    font-size: 1.25rem;
}

.header-button-container{
    text-align: center;
}

.header-button-container button{
    margin: 0 1rem;
}

/* HEADER END */

/* FOOTER START */

footer{
    border-radius: 0 100px 0 0;
    background: var(--super-black-blue);
    color: white;
    font-size: 16px;
    font-family: "Ubuntu";
    display: flex;

}

footer a img{
    margin-left: 7.5rem;
    margin-top: 4rem;
}

.products-section{
    display: flex;
    flex-direction: column;
    margin-left: 8.5rem;
}

footer div{
    margin: 4rem 4rem;
}

footer h3{
    font-weight: 700;
}

footer div a::after{
    content: "";
    display: block;
    background-color: white;
    height: 2px;
    width: 0;
    transition: width .3s ease;
}

footer div a:hover::after{
    width: 100%;
}

footer div p{
    margin: .5rem 0;
    color: var(--grayish-blue);
    font-weight: 400;
}

.products-section a{
    color: white;
    text-decoration: none;
}
.company-section a{
    color: white;
    text-decoration: none;
}
.connect-section a{
    color: white;
    text-decoration: none;
}

.company-section{
    display: flex;
    flex-direction: column;
}

.connect-section{
    display: flex;
    flex-direction: column;
}

/* FOOTER END */

/* MAIN START */

main .text-block1 {
    margin: 5rem 0;  
}

main .text-block1 .content{
    display: flex; 
    flex-direction: row;
    align-items: center;
}

main .text-block1 .content .texts{
    display: flex;
    flex-direction: column;
    color: var(--super-dark-blue);
    font-weight: 300;
    font-family: "Overpass";
    width: 100%;
    font-size: 1.25rem;
    max-width: 800px;
    margin: 0 10rem;
}

main .text-block1 .texts div{
    margin: 2rem 0;
}

main .text-block1 h2{
    text-align: center;
    font-weight: 600;
    font-size: 2.5rem;
    font-family: "Overpass";
    margin: 1rem 0;
}

main .text-block1 h3{
    font-weight: 600;
    margin: 1rem 0;
    font-size: 1.5rem;
    color: var(--super-black-blue);
}

main .text-block1 img{
    width: 45%;
}

main .text-block2{
    margin: 7.5rem 0;
    border-radius: 0 100px 0 100px;
    background: url("images/bg-pattern-circles.svg") -600px -800px, linear-gradient(90deg, var(--background-super-gray-blue), var(--background-desaturated-blue));
    background-size: cover;
    background-repeat: no-repeat;
}

main .text-block2 .content{
    display: flex;
    align-items: center;
}

main .text-block2 .content img{
    width: 70%;
    margin-left: 6rem;
}

main .text-block2 .content .texts{
    font-family: "Overpass";
    font-weight: 300;
    flex-direction: column;
    color: var(--white);
    width: 100%;
    max-width: 600px;
}

main .text-block2 .content .texts h2{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem 0;
}

main .text-block2 .content .texts p{
    font-size: 1.25rem;
    color: var(--grayish-blue);
    line-height: 40px;
}

main .text-block3{
    margin: 5rem 0;
}

main .text-block3 img{
    width: 50%;
}

main .text-block3 .content{
    display: flex;
    align-items: center;
    flex-direction: row;
}

main .text-block3 .content .texts{
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}

main .text-block3 .content .texts div{
    margin: 2rem 0;
}

main .text-block3 .content .texts h3{
    font-size: 1.5rem;
    margin: 1rem 0;
    font-family: "Overpass";
    font-weight: 600;
    color: var(--super-black-blue);
}

main .text-block3 .content .texts p{
    font-size: 1.25rem;
    font-family: "Overpass";
    font-weight: 300;
    color: var(--super-dark-blue);
}

/* MAIN END */